# Домашнее задание «Функции и работа с данными»

In [1]:
import pandas as pd

### Задание 1  
Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:  
- оценка 2 и меньше - низкий рейтинг  
- оценка 4 и меньше - средний рейтинг  
- оценка 4.5 и 5 - высокий рейтинг  
  
Результат классификации запишите в столбец class

In [12]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
ratings = pd.read_csv('ratings.csv')

def assign_class(row):
    if row['rating'] <= 2:
        return 'Низкий рейтинг'
    elif 2 < row['rating'] <= 4:
        return 'Средний рейтинг'
    else:
        return 'Высокий рейтинг'
    
ratings['class'] = ratings.apply(assign_class, axis = 1)
ratings.head()

   userId  movieId  rating   timestamp            class
0       1       31     2.5  1260759144  Средний рейтинг
1       1     1029     3.0  1260759179  Средний рейтинг
2       1     1061     3.0  1260759182  Средний рейтинг
3       1     1129     2.0  1260759185   Низкий рейтинг
4       1     1172     4.0  1260759205  Средний рейтинг

### Задание 2
Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

    geo_data = {

                'Центр': ['москва', 'тула', 'ярославль'],

                'Северо-Запад': ['петербург', 'псков', 'мурманск'],

                'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
                }

Результат классификации запишите в отдельный столбец region.

In [43]:
keywords = pd.read_csv('keywords.csv')
keywords.head()

         keyword     shows
0             вк  64292779
1  одноклассники  63810309
2          порно  41747114
3           ютуб  39995567
4      вконтакте  21014195

In [33]:
geo_data = {
            'Центр': ['москва', 'тула', 'ярославль'],

            'Северо-Запад': ['петербург', 'псков', 'мурманск'],

            'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
            }

In [44]:
keywords = pd.read_csv('keywords.csv')

def check_geo(row):
    for region in geo_data:
        if row['keyword'] in geo_data[region]:
            return region
    return 'undefined'
        
keywords['region'] = keywords.apply(check_geo, axis = 1)
keywords[keywords['region'] != 'undefined'].head()

          keyword   shows          region
1259       москва  153050           Центр
5858  владивосток   43038  Дальний Восток
6075    ярославль   41720           Центр
8977     мурманск   29984    Северо-Запад
9084    хабаровск   29655  Дальний Восток

### Задание 3 (бонусное)
Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл ratings.csv из базы https://grouplens.org/datasets/movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

1. В переменную years запишите список из всех годов с 1950 по 2010.

2. Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
    * для каждой строки пройдите по всем годам списка years    
    * если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска    
    * если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год    

3. Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’    

4. Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга